.robot {
  z-index: 100;
   width: 96px;
   height: 96px;
   background-image:url("pink.png");

   -webkit-animation: play 4s steps(10) infinite;
      -moz-animation: play 4s steps(10) infinite;
       -ms-animation: play 4s steps(10) infinite;
        -o-animation: play 4s steps(10) infinite;
           animation: play 4s steps(10) infinite;
}

@-webkit-keyframes play {
  from { background-position:    0px; }
    to { background-position: -960px; }
}

@-moz-keyframes play {
  from { background-position:    0px; }
    to { background-position: -500px; }
}

@-ms-keyframes play {
  from { background-position:    0px; }
    to { background-position: -500px; }
}

@-o-keyframes play {
  from { background-position:    0px; }
    to { background-position: -500px; }
}

@keyframes play {
  from { background-position:    0px; }
    to { background-position: -960px; }
}
