
.typewriter p {
   overflow: hidden;
   border-right: .45em solid #00FF00;
   white-space: nowrap;
  margin: 0 auto;
   letter-spacing: .15em;s
  animation:
    typing 10s steps(40,end),
   blink-caret .75s step-end infinite;
 }

 The typing effect
 @keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

 The typewriter cursor effect
 @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00FF00; }
}

 .button {
  padding: 15px 25px;
  font-family:'VT323', monospace;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #00FF00;
  border: none;
  border-radius: 15px;
}

.button:hover {background-color: #00FF00}

.button:active {
  background-color: #00FF00;
  transform: translateY(4px);
}
/* font-family: 'VT323', monospace; */

.robot {position: relative;
  left: 50%;
  margin-left: -160px;
  margin-top: +60px;
    width: 320px;
    height: 320px;
    background-image:url("ziggy.png");

    -webkit-animation: play 1.5s steps(10) infinite;
       -moz-animation: play 1.5s steps(10) infinite;
        -ms-animation: play 1.5s steps(10) infinite;
         -o-animation: play 1.5s steps(10) infinite;
            animation: play 1.5s steps(10) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -3200px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -3200px; }
}

body {
  background-color:#000;
  margin:0;
  overflow:hidden;
  padding:0;
}

.screen {
  animation:colorPulse 5s infinite ease-in-out;
  background-image:radial-gradient(#444, #111);
  box-shadow:0 0 5vmin 1vmin #000 inset;
  box-sizing:border-box;
  font-family:'VT323', monospace;
  font-size:20px;
  height:100vh;
  overflow:hidden;
  padding:10vmin;
  width:100vw;
}

.screen:before {
  animation:wave 10s infinite ease-in-out;
  content:"";
  height:20vh;
  left:0;
  opacity:.5;
  position:absolute;
  right:0;
  z-index:1;
}

.screen:after {
  background-image:linear-gradient(transparent, transparent 3px, #222);
  background-size:4px 4px;
  bottom:0;
  content:"";
  left:0;
  pointer-events:none;
  position:absolute;
  right:0;
  top:0;
  z-index:2;
}

p:last-child:after {
  animation:blink 1s infinite;
  content:"_";
}

@keyframes colorPulse {
  0%, 100% {
    color:#0c0;
  }
  48%, 52% {
    color:#090;
  }
  50% {
    color:#060;
  }
}

@keyframes wave {
  0% {
    box-shadow:0 -10vh 20vh #0c0;
    top:-100vh;
  }
  48%, 52% {
    box-shadow:0 -10vh 20vh #090;
  }
  50% {
    box-shadow:0 -10vh 20vh #060;
  }
  100% {
    box-shadow:0 -10vh 20vh #0c0;
    top:200vh;
  }
}

@keyframes blink {
  50% {
    opacity:0;
  }
}
.bubble
{position: relative;
left: 85%;
margin-left: -250px;
margin-top: -275px;
width: 10px;
height: 40px;
padding: 0px;
background: #007700;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
transition: 1s ease-in-out;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 7px 20px 7px 0;
border-color: transparent #007700;
display: block;
width: 0;
z-index: 1;
left: -20px;
top: 9px;
}
.bubble:hover
{position: relative;
width: 250px;
height: 350px;
padding: 0px;
background: #007700;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
